* text=auto eol=lf
*.png binary
*.gif binary
*.jpg binary
*.wbmp binary
tests/fixtures/goldens/*.html -text
templates/classic/*.html -text
tests/fixtures/** linguist-vendored
/.github export-ignore
/tests export-ignore
/deploy export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore
/deptrac.yaml export-ignore
